    <div class="container-fluid">
        <div class="row col-lg-2 h2 p-2 m-2 border-bottom border-secondary">Your Dashboard</div>
    </div>
    
    <div class="card container-fluid mt-5 w-75 ps-0 pe-0 container-fluid">
        <ul class="list-group list-group-flush">
          <li class="list-group-item one h3">Create New Post</li>

          <li class="mb-3 list-group-item two">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="email" class="form-control" name="post-title" placeholder="Post Title">
          </li>

          <li class="mb-3 list-group-item two">
            <label for="exampleFormControlTextarea1" class="form-label">Content</label>
            <textarea class="form-control" name="post-content" rows="3" placeholder="Post Content"></textarea>
          </li>

          <li class="mb-3 list-group-item two">
            <button type="button" class="btn btn-lg col-6 w-100 p-2 create-btn">Create</button>
          </li>
        </ul>
      </div>

<script src="/javascript/add-post.js"></script>