<form class="card container-fluid mt-5 w-75 ps-0 pe-0 container-fluid login-form">
        <ul class="list-group list-group-flush">
          <li class="list-group-item one h3">Login</li>

          <li class="mb-3 list-group-item two">
            <label for="username-login" class="form-label">Username</label>
            <input type="email" class="form-control" id="username-login">
          </li>

          <li class="mb-3 list-group-item two">
            <label for="password-login" class="form-label">Password</label>
            <input type="email" class="form-control" id="password-login">
          </li>

          <li class="mb-1 list-group-item two">
            <button type="button" class="btn btn-lg col-6 w-100 p-2">Login</button>
          </li>
          <li class="list-group-item two"><a href="./signup">Sign up instead</a></li>
        </ul>
</form>

<script src="/javascript/login.js"></script>